@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.slide-item {
  margin-left: 0;
  flex-shrink: 0;
  animation: slideAnimation 14s linear infinite alternate;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(500vw));
  }
}

.bg-image-container {
  background-image: url("./assets/bg_image.png"); /* Update the path if needed */
  background-repeat: no-repeat;
  background-size: cover; /* Adjust this based on your needs */
}
