@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.slide-item {
  margin-left: 0;
  flex-shrink: 0;
  animation: slideAnimation 20s linear infinite alternate;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(500vw));
  }
}

.bg-image-container {
  background-image: url("./assets/bg_image.png"); /* Update the path if needed */
  background-repeat: no-repeat;
  background-size: cover; /* Adjust this based on your needs */
}

.custom-chat-field {
  height: 100vh;
  position: fixed;
  bottom: 59px;
  display: flex;
  flex-direction: column-reverse;
}

.custom-windo-height {
  height: 150px;
}

.padding-tophome {
  margin-top: -80px;
}

.text-10xl {
  font-size: 200px;
}
.custom-windo-height-text {
  height: 240px;
}

.loading {
  animation: loading 1s ease-out infinite alternate;
  background: linear-gradient(to right, #5c1e1e, #29295c);
  background-size: 200% 100%;
}

.loadingbig {
  animation: loading 1s ease-out infinite alternate;
  background: linear-gradient(to right, #5c1e1e, #29295c);
  background-size: 200% 100%;
}

@keyframes loading {
  0% {
    background-position: 0 0;
    opacity: 50%;
  }
  100% {
    background-position: 100% 0;
    opacity: 80%;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-delay-100 {
  animation-delay: 100ms;
}

.animate-delay-200 {
  animation-delay: 200ms;
}

.animate-delay-300 {
  animation-delay: 300ms;
}

.animate-delay-400 {
  animation-delay: 400ms;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 0.5s infinite cubic-bezier(0.8, 0.1, 0.2, 0.9);
}

.dot:nth-child(2) {
  animation-delay: 100ms;
}

.dot:nth-child(3) {
  animation-delay: 200ms;
}

.dot:nth-child(4) {
  animation-delay: 300ms;
}

.dot:nth-child(5) {
  animation-delay: 400ms;
}
